#events {
  width: 100%;
  padding-top: 110px;
  text-align: center;

  h2 {
    padding-bottom: 15px;
  }
}

.img-event {
  width: 200px;
  height: 450px;
  object-fit: cover;
  -webkit-filter: grayscale(.5);
  filter: grayscale(.5);

  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    @include transition(all .3s ease);
  }
}

.event-up {
  display: inline-block;

  span {
    position: relative;
    bottom: 150px;
    width: 200px;
    z-index: 100;
  }
}

.event-down {
  display: inline-block;
  position: relative;
  top: 50px;

  span {
    position: relative;
    bottom: 420px;
    width: 200px;
    z-index: 100;
  }
}

.event-up, .event-down {
  h1 {
    color: #fff;
  }
  h2 {
    position: relative;
    top: 20px;
    font-size: 1.2em;
  }
}
